## What is Tuple?

-List: [], can change the element

-Tuple: (), cannot change the element

In [3]:
t1 = ()
t2 = (1,) # must use , if there exists only one value
t3 = (1,2,3)
t4 = 1,2,3 # it is okay to omit the bracket
t5 = ('a','b', ('ab','cd'))

In [4]:
t1 = (1,2, 'a','b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [5]:
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

## Indexing & Slicing

## 1. Indexing

In [7]:
t1 = (1, 2, 'a', 'b')
print(t1[0])
print(t1[-2])
print(t1[1:-2])

1
a
(2,)

## 2. Slicing

In [8]:
t1 = (1,2, 'a','b')
t1[1:]

(2, 'a', 'b')

## Tuple Operation

In [9]:
t1 = (1,2)
t2 = ('a','b')

t1+t2

(1, 2, 'a', 'b')

In [10]:
t2 = 3,4
t2 * 3

(3, 4, 3, 4, 3, 4)

In [11]:
len(t1)

2