## Q1. 평균 점수 구하기

과목 점수

국어 80

영어 75

수학 55

In [1]:
a = 80
b = 75
c = 55

(a+b+c) / 3

70.0

## Q2. 13이 홀수인지 짝수인지 판별

In [2]:
13 % 2 # return remainder

1

## Q3. 881120-1068234

연월일과 그 뒤 숫자로 나누어 출력

In [7]:
id = "881120-1068234"

yyyymmdd = id[:6]
num = id[7:]

print(yyyymmdd)
print(num)

881120
1068234

## Q4. 성별 나타내는 숫자 출력

In [8]:
id[7]

'1'

## Q5. a:b:c:d, replace를 이용해서 a#b#c#d#으로 출력

In [10]:
a = "a:b:c:d"
print(a)

b = a.replace(":", "#") # : -> #
print(b)

a:b:c:d
a#b#c#d

## Q6. [1,3,5,4,2] -> [5,4,3,2,1]

In [15]:
a = [1,3,5,4,2]

a.sort()
a

[1, 2, 3, 4, 5]

In [16]:
a.reverse()
a

[5, 4, 3, 2, 1]

## Q7. ['Life', 'is', 'too', 'short'] -> "Life is too short"

In [17]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)

In [19]:
result

'Life is too short'

In [21]:
res1 = ".".join(a)
res1

'Life.is.too.short'

## Q8. (1,2,3) + 4 -> (1,2,3,4)

In [28]:
a = (1,2,3)

In [29]:
a = a + (4,)

In [30]:
a

(1, 2, 3, 4)

In [32]:
a = a + (5,6)

In [33]:
a

(1, 2, 3, 4, 5, 6)

## Q10. a에서 B 추출

In [34]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B') # subtract and remove the value for the 'B'

In [36]:
print(a)
print(result)

{'A': 90, 'C': 70}
80