# 1. Datatype: number

In [1]:
# datatype: integer
type(10)

int

In [3]:
# divmod( ) : quotient, remainder

print(divmod(5, 2)) # Tuple

quotient, remainder = divmod(5,2)
print(quotient, remainder)

(2, 1)
2 1

In [4]:
# datatype: float
float(1+2)

3.0

In [6]:
# datatype: complex
1.2 + 1.3j # 허수부에 i 대신에 j(공학에서는 이렇다고 함)

(1.2+1.3j)

### * Practice

In [12]:
print(0.2467 * 12 + 4.159)

int(7.1194)

7.1194

7

## 1) 행렬 곱셈

In [83]:
import numpy as np

a = np.array([[1,2,3],
              [4,5,6],
              [7,8,9]])

b = np.array([[1,2,3],
              [4,5,6],
              [7,8,9]])

ab = a @ b
print("1. 행렬 곱셈 결과: \n {} \n\n2. 형상: {}" .format(ab, ab.shape) )

1. 행렬 곱셈 결과:
 [[ 30  36  42]
 [ 66  81  96]
 [102 126 150]]

2. 형상: (3, 3)

---
# 2. Variables

In [17]:
x, y = 10, 20
print(x)
print(y)

10
20

In [18]:
x, y = y, x
print(x)
print(y)

20
10

In [22]:
del x
print(x)

NameError: name 'x' is not defined

### 1) Empty Variable

In [25]:
x = None # 다른 언어에서는 Null이라고 함
print(x)

None

### 2) 연산 후 할당 연산자

In [29]:
a = 10
print(a + 20)
print(a)

30
10

In [30]:
a = a + 20
print(a)

30

In [32]:
a = 10
a += 20 # 산술연산자-할당연산자 조합으로 가능
a

30

# 3. input( )

In [34]:
user_input = input()
user_input

Hello, world!

'Hello, world!'

### 1 ) 두 숫자의 합 구하기

In [35]:
a = input("첫 번째 숫자를 입력하세요: ")
b = input("두 번째 숫자를 입력하세요: ")

print(a+b) # string으로 저장되므로 이상한 결과가 나옴

첫 번째 숫자를 입력하세요: 1
두 번째 숫자를 입력하세요: 2
12

In [36]:
a = int(input("첫 번째 숫자를 입력하세요: "))
b = int(input("두 번째 숫자를 입력하세요: "))

print(a+b)

첫 번째 숫자를 입력하세요: 1
두 번째 숫자를 입력하세요: 2
3

### 2) 입력값을 변수 두 개에 저장하기

In [38]:
a, b = input('문자열 두 개를 입력하세요: ').split() # 공백을 기준으로 분리
print(a)
print(b)

문자열 두 개를 입력하세요: 1 2
1
2

In [45]:
a, b = input('숫자 두 개를 입력하세요: ').split() # 공백을 기준으로 분리
print(a+b)

숫자 두 개를 입력하세요: 1 2
12

In [43]:
a, b = input('숫자 두 개를 입력하세요: ').split() # 공백을 기준으로 분리
a = int(a)
b = int(b)

print(a+b)

숫자 두 개를 입력하세요: 1 2
3

In [44]:
a, b = input('숫자 두 개를 입력하세요: ').split() # 공백을 기준으로 분리

print( int(a)+int(b) )

숫자 두 개를 입력하세요: 1 2
3

### * map( )을 사용해서 정수로 변환하기


a, b = map( int, input(" ").split() )

In [42]:
a, b = map( int, input("숫자 두 개를 입력하세요: ").split() )

print( a+b )

숫자 두 개를 입력하세요: 1 2
3

### * 입력값을 콤마(,)를 기준으로 분리하기

In [46]:
a, b = map( int, input("숫자 두 개를 입력하세요: ").split(",") )
print(a+b)

숫자 두 개를 입력하세요: 1,2
3

## * Practice

-정수 세 개를 입력받고 합계 출력하기

In [47]:
a, b, c = map( int, input("정수 세 개를 입력하세요: ").split(",") )
print(a+b+c)

정수 세 개를 입력하세요: 1,2,3
6

---
# 4. 출력 방법 알아보기

## 1. 값을 여러개 출력하기

print(값1, 값2)

print(변수1, 변수2, 변수3)

In [48]:
print("hello", "world")

hello world

## 2. sep로 값 사이에 문자 넣기

-공백이 아닌 다른 문자를 넣고 싶다면, print(값1, 값2, sep=",")

In [49]:
print(1920, 1080, sep='x')

1920x1080

In [50]:
print("hello", "python", sep='') # 분리자 없음

hellopython

### 1) 줄바꿈

In [51]:
print(1,2,3, sep='\n')

1
2
3

In [52]:
print('1\n2\n3')

1
2
3

## 3. end로 출력 조정하기

In [62]:
print(1, 2, 3, end=' ') # 줄바꿈 없이 공백만; 맨끝에 스페이스 1칸

1 2 3

### * Practice

-날짜와 시간 출력하기

In [63]:
year = 2000
month = 10
day = 27
hour = 11 
minute = 43
second = 59

print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2000/10/27 11:43:59

In [84]:
1+1

2