# String ##

In [1]:
# multistring

print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

## Indexing & Slicing ##
-It can be used to Tuple and List

In [2]:
a = "Life is too short, You need Python"

print(a[3]) # starting point is '0'
print(a[12])
print(a[-1])

e
s
n

In [3]:
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [29]:
print(a[0:3]) # because it means 0 <= a < 3
print(a[0:4])
print(a[0:5]) # 'space' is also considered as character

print(a[:]) # all string
print(a[19:-7]) # from 19th to -8th

Lif
Life
Life
Life is too short, You need Python
You need

## Dividing String by usin "Slicing"

In [31]:
a = "20010331Rainy" # Date + Weather
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20010331
Rainy

In [32]:
year = a[:4]
day = a[4:8]
weather = a[8:]

print(year)
print(day)
print(weather)

2001
0331
Rainy

## Exercise 1 ##
-how to change "Pithon" to "Python"?

-each element in string cannot be changed -> immutable

-So, let's use "Slicing"

In [34]:
a = "pithon"

print(a[:1]) # choose "p"
print(a[2:]) # choose "thon"

c = a[:1] + "y" + a[2:]
print(c)

p
thon
python

## Formatting ##
-how to change particular part of the string?

-Insert some value in string

In [35]:
## 1. Put in the number
"I eat %d apples." %3

'I eat 3 apples.'

In [36]:
## 2. put in the string
"I eat %s apples." %"five"

'I eat five apples.'

In [38]:
## 3.put in the variable
number = 3
"I eat %d apples." %number

# we did not use punctuation since the variable "number" is numeric

'I eat 3 apples.'

In [39]:
## 4. put in two or more the numbers 
number = 10
day = "three"

"I ate %d apples. so I was sick for %s days." %(number, day)

'I ate 10 apples. so I was sick for three days.'

In [41]:
# the property of %s
"I have %s apples" %3
"I have %s apples" %3.24

# %s automatically convert the value to string

'I have 3.24 apples'

In [43]:
# how to represent "%"
"Accuracy is %d%%." %99

'Accuracy is 99%.'

## Formatting + Numbers

In [45]:
"%10s" %"hi"

#%10s
#10 : total length is 10
#+10(sign) : right alignment
#space(8) + hi(2)

'        hi'

In [48]:
"%-10sjane." %"hi"

#hi : left alignment
#10 number of space
#jane

'hi        jane.'

In [49]:
"%0.4f" %3.421

'3.4210'

In [51]:
"%10.4f" % 3.421

# round off the numbers to four decimal places
# total lengh is 10 and right alignment

'    3.4210'

## Using "format" function ##

In [55]:
"I eat {0} apples" .format(3)

'I eat 3 apples'

In [56]:
"I eat {0} apples" .format("five")

'I eat five apples'

In [57]:
number = 3
"I eat {0} apples" .format(number)

'I eat 3 apples'

In [58]:
number = 10
day = "three"

"I eat {0} appels. so I was sick for {1} days." .format(number, day)

'I eat 10 appels. so I was sick for three days.'

In [59]:
"I eat {number} appels. so I was sick for {day} days." .format(number=10, day="three")

'I eat 10 appels. so I was sick for three days.'

In [70]:
" {{ and }}" .format()

' { and }'

## Alignment

-----------------------
-the direction of the arrow refers to the direction of alignment

In [60]:
"{0:<10}" .format("hi")

'hi        '

In [61]:
"{0:>10}" .format("hi")

'        hi'

In [62]:
"{0:^10}" .format("hi")

'    hi    '

--------------------

### * fill the blank

-fill the remaining space by designated value

In [64]:
"{0:=^10}" .format("hi")

'====hi===='

In [65]:
"{0:!<10}". format("hi")

'hi!!!!!!!!'

-------
### * floating-point

In [67]:
y = 3.42134234

"{0:0.4f}" .format(y)

'3.4213'

In [68]:
"{0:10.4f}" .format(y)

'    3.4213'

---
### f string formatting

In [72]:
name = "gildong"
age = 30

f'my name is {name}. I am {age} years old.'

'my name is gildong. I am 30 years old.'

In [74]:
f'my name is {name}. I am {age} years old. I will be {age+1} years old next year.'

'my name is gildong. I am 30 years old. I will be 31 years old next year.'

---
### * Dictionary
-Dictionary has "Key-Value" pair

In [76]:
d = {'name': 'gildong', 'age':30}

f'my name is {d["name"]}. I am {d["age"]} years old.'

'my name is gildong. I am 30 years old.'

---
## *alignment

In [77]:
f'{"hi":<10}'

'hi        '

In [84]:
f'{"hi":!>20}'

'!!!!!!!!!!!!!!!!!!hi'

In [85]:
y = 3.41234

f'{y:0.4f}'

'3.4123'

In [89]:
f'{y:10.4f}'

'    3.4123'

---
## String Function

## 1. count

In [91]:
a = "hobby"
a.count('b')

2

## 2. Index

In [92]:
a = "Python is the best choice"
a.find('b')
a.find('k') # if it does not exist, it will return '-1'

-1

In [94]:
a = "Life is too short"

a.index('t') 
a.index('k') # error!

ValueError: substring not found

## 3. Join

In [95]:
",".join('abcd')

'a,b,c,d'

In [96]:
",".join(['a','b','c','d'])

'a,b,c,d'

## 4. upper <-> lower

In [97]:
a = "hi"
a.upper()

'HI'

In [100]:
a = "HI"
a.lower()

'hi'

## 5.Erase the blank

In [4]:
a = "  hi  "
a.lstrip() # erase left blank

'hi  '

In [102]:
a.rstrip()

'  hi'

In [105]:
a.strip()

'hi'

## 6.Replace string

In [106]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

## 7.Split string

In [5]:
a = "Life is too short."
a.split() # the space (default)
          # return will be list

['Life', 'is', 'too', 'short.']

In [108]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']