## Set

-It is used to handle operations for the set

-set() function

In [1]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [2]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [5]:
# empty set
s3 = set()
s3

set()

## 1. Properties of set

1) does not allow duplicates

2) unordered (like dictionary)

-therefore, if we want to use indexing, we have to convert set into list or tuple.

In [8]:
s1 = set([1,2,3])
l1 = list(s1)
print(l1)
print(l1[0])

t1 = tuple(s1)
print(t1)
print(t1[0])

[1, 2, 3]
1
(1, 2, 3)
1

## 2. Intersection, Union, Difference

In [9]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

### 1. Intersection

In [12]:
s1 & s2

s1.intersection(s2)

{4, 5, 6}

### 2. Union

In [13]:
s1 | s2

s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### 3. Difference

In [15]:
s1 - s2

s1.difference(s2)

{1, 2, 3}

## 3. Functions for the set

1) add one value : s1.add()

2) add two or more values : s1.update([])

3) remove certain value : s1.remove()

### 1. Add one value

In [16]:
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

### 2. Add two or more values

In [17]:
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

### 3. Remove certain values

In [18]:
s1.remove(4)
s1

{1, 2, 3, 5, 6}