## List

In [2]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
d = list(range(10, 0, -1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## Tuple

-요소를 변경, 추가, 삭제할 수 없음 -> 절대 변경되어야 하지 않고 유지되어야 할 때 사용함

In [5]:
a = (1, 2, 3)
a

(1, 2, 3)

In [7]:
a = 1, 2, 3
a

(1, 2, 3)

In [10]:
a = (38) # 요소가 1개인 튜플
a

38

In [12]:
a = (38, ) # 요소가 1개인 튜플
a

(38,)

In [14]:
a = tuple( range(10) )
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [15]:
b = tuple( range(5, 12) )
b

(5, 6, 7, 8, 9, 10, 11)

In [16]:
c = tuple( range(-4, 10, 2) )
c

(-4, -2, 0, 2, 4, 6, 8)

### list <-> tuple

In [17]:
a = [1,2,3]
tuple(a)

(1, 2, 3)

In [18]:
b = (4,5,6)
list(b)

[4, 5, 6]

## 리스트와 튜플로 변수 만들기 (list/tuple unpacking)

-변수에 리스트, 튜플을 할당하는 과정 : packing

-변수 여러 개에 리스트, 튜플의 요소를 할당하는 과정 : unpacking

In [19]:
a, b, c = [1, 2, 3]
print(a, b, c)

1 2 3

In [20]:
x = [1, 2, 3]
a, b, c = x
print(a,b,c)

1 2 3

In [1]:
x = input().split()
a, b = x
print(a, b)

1 2
1 2

## Practice

In [5]:
a = list(range(5, -10, -2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

----

# Sequence Types

-리스트, 튜플, range, 문자열처럼 값이 연속적으로 이어진 자료형

## 1. 기본적인 조작

### 1) 특정 값이 있는지 확인하기

In [6]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [7]:
30 in a

True

In [9]:
100 not in a

True

In [10]:
43 in (38, 76, 43, 90)

True

In [11]:
'P' in 'Python'

True

### 2) 시퀀스 객체 연결하기

In [12]:
# list 연결하기

a = [0, 10, 20, 30]
b = [9, 8, 7, 6]

a + b

[0, 10, 20, 30, 9, 8, 7, 6]

In [13]:
# range는 tuple/list로 만들어서 연결해주어야 함

list(range(0,10)) + list(range(10,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [15]:
# 문자열 연결하기

'Hello, ' + 'world!'

'Hello, world!'

In [16]:
# 문자열과 숫자 연결하기

'Hello, ' + str(3)

'Hello, 3'

### 3) 시퀀스 객체 반복하기

-* 연산자는 시퀀스 객체를 특정 횟수만큼 반복함 (0 또는 음수를 곱하면 빈 객체가 나옴)

In [17]:
[0, 10, 20, 30] * 3

[0, 10, 20, 30, 0, 10, 20, 30, 0, 10, 20, 30]

In [19]:
# range는 tuple/list로 만들어서 반복해야함

tuple(range(0,10,2))*3

(0, 2, 4, 6, 8, 0, 2, 4, 6, 8, 0, 2, 4, 6, 8)

In [20]:
# 문자열 반복하기

'Hello, ' * 3

'Hello, Hello, Hello, '

---
## 2) 요소 개수 구하기

In [21]:
a = [1,2,3,4,5]
len(a)

5

In [22]:
len(range(0,10,2))

5

---
## 3) 인덱스

In [25]:
a = [38, 21, 53, 62, 19]
a[0]

38

In [26]:
r = range(0, 10, 2)
r[2]

4

In [27]:
hello = "Hello, World!"
hello[7]

'W'

### * 직접 요소를 가져오기: 시퀀스객체.__getitem__(인덱스)

In [28]:
a = [38, 21, 53, 62, 19]

a.__getitem__(1)

21

### * 음수 인덱스

-튜플, 리스트, 문자열 모두 가능

In [29]:
a[-1] # 뒤에서 첫 번째 요소

19

In [30]:
a[-5] # 뒤에서 다섯 번째 요소

38

### * 마지막 요소

In [31]:
a[len(a)-1]

19

---
## 4) 요소에 값 할당

-리스트만 덮어쓰기 가능

-튜플, range, 문자열은 '읽기 전용'

In [32]:
a = [0, 0, 0, 0, 0]
a[0] = 38
a[1] = 21
a[2] = 53
a[3] = 62
a[4] = 19
a

[38, 21, 53, 62, 19]

## 5) 요소 삭제: del

-리스트만 삭제 가능

-튜플, range, 문자열은 삭제 불가능

In [33]:
a = [38, 21, 53, 62, 19]
del a[2]
a

[38, 21, 62, 19]

In [34]:
b = 'Hello, python'

---
## 6) 슬라이스

In [36]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[0:4]

[0, 10, 20, 30]

In [37]:
a[0:10] # 끝 인덱스는 범위 벗어날 수 있음

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [38]:
a[4:7] # 4,5,6 가져옴

[40, 50, 60]

In [39]:
a[4:-1] # 인덱스 4부터 -2까지 (40, 50, 60, 70, 80)

[40, 50, 60, 70, 80]

### * 인덱스 증가폭

In [41]:
a[2:8:3] # 인덱스 2부터 3씩 증가시킴 -> 2, 5, 8 -> 8은 포함되지 않으므로 2, 5에 해당하는 것만 가져옴

[20, 50]

In [42]:
a[2:9:3]

[20, 50, 80]

---
## 7) 인덱스 생략하기

In [43]:
a[:7] # 리스트 처음부터 인덱스 6까지 가져옴

[0, 10, 20, 30, 40, 50, 60]

In [44]:
a[7:] # 인덱스 7부터 끝까지 가져옴

[70, 80, 90]

In [45]:
a[:] # 리스트 전체를 가져옴

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

---
## 8) 인덱스 생략하면서 증가폭 사용

In [46]:
a[:7:2] # 시작부터 인덱스 7까지 2씩 증가 -> 0, 2, 4, 6 -> 그러면 0, 20, 40, 60

[0, 20, 40, 60]

In [47]:
a[7::2] # 인덱스 7부터 2씩 증가 -> 7, 9 -> 70, 90

[70, 90]

In [48]:
a[::2] # 리스트 전체에서 2씩 증가 -> 0, 20, 40, 60, 80

[0, 20, 40, 60, 80]

### * 증가폭이 음수일 때

In [49]:
a[5:1:-1] # 인덱스 5부터 인덱스 1까지 -1씩 -> 50, 40, 30, 20
          # 끝 인덱스는 범위에 포함되지 않음

[50, 40, 30, 20]

In [50]:
a[::-1] # 전체에서 -1씩이므로 역순으로 가져옴 (뒤집음)

[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

### * len 응용

In [54]:
a[0:len(a)]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [55]:
a[:len(a)]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

---
## 9) 튜플, range, 문자열에 슬라이스 사용

### 튜플

In [56]:
b = (0,10,20,30,40,50,60,70,80,90)

b[4:7] # 인덱스 4부터 6까지

(40, 50, 60)

In [57]:
b[:7:2] # 처음부터 인덱스 7까지 2씩 증가시킴 -> 0, 2, 4, 6

(0, 20, 40, 60)

### range

In [60]:
r = range(10)
c = r[4:7] # 새롭게 인덱스 4부터 6까지 숫자 3개를 생성하는 range 객체 만듦

In [61]:
list(c)

[4, 5, 6]

In [62]:
list(r[:7:2]) # 처음부터 인덱스 7까지 2씩 건너뜀

[0, 2, 4, 6]

In [63]:
hello = 'Hello, world!'
hello[2:9] # 2부터 8까지

'llo, wo'

In [64]:
hello[:9:2] # 처음부터 9까지 2씩 건너뛰어서 -> 0,2,4,6,8

'Hlo o'

---

## * 슬라이스 객체

In [65]:
slice(4,7,2)

slice(4, 7, 2)

In [68]:
a = range(10)[slice(4, 7, 2)] # 4, 6 출력

list(a)

[4, 6]

In [70]:
a = range(10).__getitem__(slice(4, 7, 2))

list(a)

[4, 6]

In [72]:
a = [0,10,20,30,40,50,60,70,80,90]

s = slice(4, 7)
a[s]

[40, 50, 60]

In [73]:
hello[slice(4,7)]

'o, '

In [90]:
a = [0,10,20,30,40,50,60,70,80,90]

r = range(4, 7) # slice가 들어가야 한다고 함
a[r]

TypeError: list indices must be integers or slices, not range

---
## 10) 슬라이스에 요소 할당

-리스트만 가능

-튜플, 문자열은 불가능

In [82]:
a = [0,10,20,30,40,50,60,70,80,90]
a[2:5] = ['a','b','c']
a

[0, 10, 'a', 'b', 'c', 50, 60, 70, 80, 90]

In [83]:
a[2:5] = ['a'] # 리스트의 요소 개수가 줄어듦!
a

[0, 10, 'a', 50, 60, 70, 80, 90]

In [84]:
a[2:5] = ['a','b','c','d','e','f'] # 리스트의 요소 개수가 늘어남
a

[0, 10, 'a', 'b', 'c', 'd', 'e', 'f', 70, 80, 90]

In [87]:
a = [0,10,20,30,40,50,60,70,80,90]

a[2:8:2] = ['a','b','c'] # 2부터 8까지 2씩 -> 2, 4, 6 에 a, b, c 할당
a

[0, 10, 'a', 30, 'b', 50, 'c', 70, 80, 90]

## 11) del로 슬라이스 삭제

In [88]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

del a[2:5]
a

[0, 10, 50, 60, 70, 80, 90]

In [89]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

del a[2:8:2]
a

[0, 10, 30, 50, 70, 80, 90]

## * Practice

In [91]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249222, 3242424, 3431313, 5562323, 577777, 6767676, 1234321, 2345432]

In [108]:
print(year[8:4:-1])
print(population[8:4:-1])

# 그냥 마지막 요소 3개를 자르면 됨
print(year[-3:])
print(population[-3:])

[2018, 2017, 2016]
[2345432, 1234321, 6767676]
[2016, 2017, 2018]
[6767676, 1234321, 2345432]

## * Practice

In [111]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2

n[1:12:2]
n[1::2]

(75, -10, 32, -15, 76, 2)

## * Practice

In [139]:
x = input().split()

1 2 3 4 5 6 7 8 9 10

In [140]:
x = x[:-5]
print(tuple(x))

('1', '2', '3', '4', '5')

## * Practice

In [143]:
string1 = input()
string2 = input()

apple
strawberry

In [144]:
print(string1[1:len(string1):2] + string2[0:len(string2):2])

plsrwer