## What is "List"?

In [3]:
odd = [1,3,5,7,9]

a = [1, 2, 'life', 'is']
b = [1, 2, ['list', 'is']] # list can be the element of the list
c = list() # empty list

---
## Indexing & Slicing

## 1. Indexing

In [6]:
a = [1,2,3]
print(a[0])
print(a[0] + a[2])
print(a[-1])

1
4
3

In [9]:
a = [1,2,3,['a','b','c']]

print(a[0])
print(a[-1])
print(a[3])

print(a[-1][0]) # the first element of the last element of list 'a'

1
['a', 'b', 'c']
['a', 'b', 'c']
a

In [12]:
a = [1,2, ['a', 'b', ['life', 'is']]]

print(a[2])
print(a[2][2])
print(a[2][2][0])

['a', 'b', ['life', 'is']]
['life', 'is']
life

## 2. Slicing

In [13]:
a = [1,2,3,4,5]
a[0:2]

[1, 2]

In [14]:
a="12345"
a[0:2]

'12'

In [16]:
a = [1,2,3, ['a','b','c'], 4,5]

print(a[2:5])
print(a[3][:2])

[3, ['a', 'b', 'c'], 4]
['a', 'b']

## List Operation

In [17]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [18]:
a = [1,2,3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [19]:
a = [1,2,3]
len(a)

3

## practice

In [23]:
a = [1,2,3]
# a[2] + "hi" # error: data type is not matched
str(a[2]) + "hi"

'3hi'

---
## modify & delete the value in list

## 1. modification

In [28]:
a = [1,2,3]
a[2] = 4
a

[1, 2, 4]

## 2. deletion

-Using the function "del"

-it can be used to any data type

In [29]:
del a[1]
a

[1, 4]

In [31]:
a = [1,2,3,4,5]
del a[2:]
a

[1, 2]

---


## List function

## 1. Append

-add the value to the end of the list

In [35]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [36]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

## 2. Sort

In [37]:
a = [1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [38]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

## 3. Reverse

-not sort! jusr Reverse

In [39]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

## 4. Location

In [40]:
a = [1,2,3]
a.index(3)

2

## 5. Insert

In [41]:
a = [1,2,3]
a.insert(0,4) #add 4 to the 0th location

## 6. Remove

In [43]:
a = [1,2,3,1,2,3]
a.remove(3) #remove the first '3'
a

[1, 2, 1, 2, 3]

## 7. Pop

-show the last element and delete the last element

In [44]:
a = [1,2,3]
a.pop()
a

[1, 2]

## 8. Count

In [45]:
a = [1,2,3,1]
a.count(1)

2

## 9. Extend
-list -> extended list

-"extend" function only can have "list" for the input value

In [47]:
a = [1,2,3]
a.extend([4,5]) # = a += [4,5]
a

[1, 2, 3, 4, 5]

In [50]:
a = [1,2,3]
a += [4,5]
a

[1, 2, 3, 4, 5]